.xl {
    
    font-size: 20px;
    border-radius: 10px;
    width: 45%;
    /* margin-right: 35px;   */
}
.Guest {
    background-color: #322651;
    font-family: cursive;
    font-weight: bolder;
}

.Login {
    background-color: #fd254c;
    font-family: cursive;
    font-weight: bolder;
}
