<div class = "container">
    <div class="position-relative">
        <!-- Background Image -->
        <img src="/assets/Ring.png" alt="Background Image" class="img-fluid">
      
        <!-- Overlay Image -->
        <img src="/assets/Logo.png" alt="Overlay Image" class="position-absolute top-0 start-0" style="width: 100px; height: 100px;">
      </div>

    <img src="/assets/Logo.png">
    <img src="/assets/Title.png">



<h3></h3>
<ul class="nav nav-pills">
    <li class="nav-item">
    </li>
</ul>





  <div class="row justify-content-center" >
    <div class="">
      <button class = "xl btn btn-primary btn-lg"  >Login</button>
      <button class=" xl btn btn-secondary btn-lg">Guest</button>
    </div>
  </div>

 

</div>