<div class ="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        WEEGIVE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Give</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="navigateToJoinRoom()">Chat Room</a>
          </li>

          <li class="nav-item">
            <a class="nav-link">
              <span>Signin with:</span>
              <asl-google-signin-button class="signin-button">
                <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-pks9lbdv.png" alt="Google Sign-In" width="20" height="20" class="google-logo">
              </asl-google-signin-button>
            </a>
          </li>

          <li class="nav-item">
            <a> <span>Signin with:</span><asl-google-signin-button class="signin-button"></asl-google-signin-button> </a>
            <!-- <a class="nav-link" href="#" tabindex="-1" (click)="loginWithGoogle()">Login</a>
            <a class="nav-link" href="#" tabindex="-1"><asl-google-signin-button></asl-google-signin-button></a> -->
          </li>


        </ul>
      </div>
    </div>
  </nav>
  @if(!loggedIn){
    <!-- <asl-google-signin-button></asl-google-signin-button> -->
    <app-item></app-item>
  }
  @else {
    
    <button class="btn btn-outline-dark" (click)="signOut()">Sign Out</button>
      <app-item [googleUser]="user"></app-item>
    }

</div>

  